<div class="container">
  <h1>{{ pipes }}</h1>
  <table class="table table-bordered">
    <tr class="bg-primary">
      <th>Id</th>
      <th>Name</th>
      <th>place</th>
      <th>DOB</th>
      <th>DOB</th>
      <th>Age</th>
      <th>Slice</th>
    </tr>
    <tr *ngFor="let user of users">
      <th>{{ user.id }}</th>
      <th>{{ user.name | uppercase }}</th>
      <th>{{ user.place | lowercase }}</th>
      <th>{{ user.dob | date }}</th>
      <th>{{ user.dob | date : "MM/dd/yyyy" }}</th>
      <th>{{ user.dob | custom }}</th>
      <th>{{ user.name | slice : 3 : 5 }}</th>
    </tr>
  </table>
  <h3>To convert value to uppercase</h3>
  <p>{{ value | uppercase }}</p>
  <h1>Price in Us Dollars</h1>
  <p>Price in US Dollars: {{ priceInRupees | rupeesToCurrency : 74.5 }}</p>
  <h1>Price in Euro Dollars</h1>
  <p>Price in Euro : {{ priceInRupees | rupeesToCurrency : 88.5 }}</p>
  <p>Titlecase:{{value |titlecase}}</p>
</div>
